<section class="bottom-page" style="border-top:1px solid #dee5ef">
  <div class="inner flex">
      <article class="column col-md-12 col-4">
          <p>
              <a href="/" rel="home" style="text-decoration:none!important">
                  <img src="/images/vrlogo.svg" alt="VerdeRAM" style="height:48px;width:auto">
              </a>
          </p>
          <p style="margin-top:1.2em">
              <b>VerdeRAM</b> di <i>Valerio Sanguineti</i><br/>
              <i>Agricoltura, vivaismo ed informatica</i><br/>
              Partita I.V.A.: <b>01119310991</b>
          </p>
      </article>
      <article class="column col-md-12 col-4 ac">
          <h6>Sede Legale</h6>
          <p>
              <a href="https://goo.gl/maps/a88czo1radQP1FAD6" data-no-instant target="_blank">
                  C.so Genova, 83/29 - 16033 Lavagna (GE)
              </a><br />
              <b>Tel.: +39 328.20.12.672</b>
          </p>
          <h6 style="margin-top:1em">Sedi operative</h6>
          <p>
              <a href="https://goo.gl/maps/TpXAxfntzStcx3Zn8" data-no-instant target="_blank">
                  Via Primo Maggio, 16 - 16040 Leivi (GE)
              </a>
              <br>
              <a href="https://goo.gl/maps/yxUfHdUPh8qrvbZCA" data-no-instant target="_blank">
                  Via S. Terenziano, 18 - 16040 Leivi (GE)
              </a>
          </p>
      </article>
      <article class="column col-md-12 col-4 ar">
          <h3 class="psrl">
              <img src="/images/ue.svg" title="Unione Europea" width="16" height="16" />
              <img src="/images/ri.svg" title="Repubblica Italiana" width="16" height="16"  />
              <img src="/images/rl.svg" title="Regione Liguria" width="16" height="16"  />
          </h3>
          <h6>Programma di Sviluppo Rurale 2014-2020</h6>
          <p>Fondo Europeo Agricolo per lo Sviluppo Rurale:<br />
            l'Europa investe nelle zone rurali.</p>
      </article>
  </div>
</section>
<footer id="colophon" class="site-footer outer">
  <div class="inner">
    <div class="site-footer-inside flex">
      <p class="site-info">
        {{ .Site.Data.footer.content | safeHTML }}
        &nbsp;
        {{ range $link := .Site.Data.footer.links }}
        <a href="{{ $link.url }}" {{ if $link.new_window }}target="_blank" rel="noopener"
          {{ end }}>{{ $link.text }}</a>.
        {{ end }}
        {{ if .IsTranslated }}
        &nbsp;
        {{ range .Translations }}
            <a class="nodeco" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}" style="margin-left:.5em">
               <img src="/images/{{ .Language.Lang }}.svg" alt="{{ upper .Language.Lang }}" style="height:16px" />
            </a>
        {{ end}}
      {{ end }}         
      </p><!-- .site-info -->     
      {{ if .Site.Data.footer.has_social }}
        {{ partial "social.html" . }}
      {{ end }}      
    </div><!-- .site-footer-inside -->
  </div><!-- .inner -->
</footer><!-- .site-footer -->
